* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9fafb;
  color: #333;
}

/* NAVBAR */
header {
  background: #763377;
  position: sticky;
  top: 0;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.3);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* HOME */
.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content h3 {
  margin: 12px 0px;
}

.home span {
  color: #763377;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #763377;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  color: #222;
  background-color: #763377b1;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

/* ABOUT */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content p {
  font-size: 1.2rem;
  width: 60%;
  text-align: justify;
  line-height: 1.5;
}

.about img {
  width: 270px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #d4cbcb;
}

.about img:hover {
  box-shadow: 0px 0px 20px #4d4848;
  transform: scale3d(1);
}

/* SKILLS */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skills-list span {
  background: #e5e7eb;
  padding: 10px 20px;
  border-radius: 20px;
}

.skills-list span:hover {
  color: #f9fafb;
  background: #666;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card p {
  margin: 10px 0px;
  text-align: justify;
}

/* RESUME */
.resume {
  text-align: center;
}

/* CONTACT */
.contact {
  text-align: center;
}

.contact p {
  margin: 10px;
}

/* FOOTER */
footer {
  background: #763377;
  color: white;
  text-align: center;
  padding: 15px;
}