* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

.main {
    width: 100%;
    height: 100vh;
}

.top {
    width: 100%;
    height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1766964855974-1dfcf5107823?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDU5fHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: inherit;
    background-color: rgba(150, 142, 142, 0.274);
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 36vh 10vw;
}

.text h1 {
    font-size: 6vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
}

.textright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.textright p {
    color: rgba(255, 255, 255, 0.85);
    width: 40%;
}

.icons {
    display: flex;
    gap: 8px;
}

.icons i {
    color: white;
}

.bottom {
    display: flex;
    width: 100%;
    height: 40vh;
}

.row1 {
    width: 25%;
    min-height: inherit;
    background-color: #d4b6b6;
    padding: 70px 60px;
}

.row1 h3 {
    font-size: 20px;
    color: #6b2c2cb9;
    margin-bottom: 22px;
}

.row1 p {
    width: 40%;
    font-size: 18px;
    color: #666;

}

.row2 {
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1615221245432-2540fe35932a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjB8fGdyZXl8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.row3 {
    width: 20%;
    min-height: inherit;
}

.row4 {
    width: 30%;
    min-height: inherit;
    background-color: #222;
    color: #fff;
    padding: 30px;
}

.rowtop {
    width: 100%;
    min-height: 20vh;
    background-color: gray;
    padding: 20px;
}

.rowtop h3 {
    margin-bottom: 10px;
}

.rowtop p {
    width: 50%;
    color: #222;
    padding: 4px 0px;
    font-size: 16px;
}

.rowbottom {
    width: 100%;
    min-height: 20vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1677622678379-115b35bf27e8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHdoaXRlfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.notf {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.notf .photo {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.notf .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notf p {
    width: 70%;
    font-size: 14px;
    color: azure;
}

@media (max-width: 500px) {

    .overlay .text {
        flex-direction: column;
        align-items: flex-start;
        padding: 8vh 6vw;
    }

    .overlay .text h1 {
        font-size: 14vw;
    }

    .overlay .text .textright {
        flex-direction: column;
        align-items: flex-start;
    }

    .overlay .text .textright p {
        width: initial;
        margin-top: 20px;
    }

    .overlay .text .textright .icons {
        gap: 16px;
        margin-top: 15px;
    }

    .bottom {
        flex-direction: column;
    }

    .row1 {
        width: 100%;
        padding: 46px 22px;
    }

    .row2 {
        width: 100%;
    }

    .row3 {
        width: 100%;
        flex-direction: column;
    }

    .rowtop h3 {
        font-size: 20px;
    }

    .rowtop p {
        padding: 10px 0px;
        font-size: 17px;
    }

    .row4 {
        width: 100%;
    }

}